
@{
    ViewBag.Title = "Group";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-info">
                <div class="box-header">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="btn-group">
                                    <button id="btnAdd" class="btn btn-default btn-md"> Add</button>
                                    <button id="btnDelete" class="btn btn-default btn-md">Delete</button>
                                    <button id="btnUpdate" class="btn btn-default btn-md">Update</button>
                                    <button id="btnReturn" class="btn btn-default btn-md">Return</button>
                                    <button id="btnExcel" class="btn btn-default btn-md">Export to Excel</button>
                                </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="col-lg-5 pull-right">
                                <div class="input-group">
                                    <input type="search" placeholder="Search" id="ProductName" class="form-control filterItem" />
                                    <span class="input-group-btn">
                                        <button type="submit" class="btn" id="btnSearch"><i class="fa fa-search"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table table-bordered table-fill" id="layoutGrdGroup"></div>
                <div class="table table-bordered table-fill" id="layoutGrdGroupPgr"></div>
            </div>
        </div>
    </div>
</section>
