<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link href="~/Content/apptheme/skin-blue.css" rel="stylesheet" />
    <link href="~/Content/base/grid.css" rel="stylesheet" />
    <link href="~/Content/base/core.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/ionicons.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/ui.jqgrid-bootstrap.css" rel="stylesheet" />
    <link href="~/Content/ui.jqgrid-bootstrap-ui.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-3.1.1.js"></script>
    <script src="~/Scripts/app/app.js"></script>
    <script src="~/Scripts/function/global/global.js"></script>
    <script src="~/Scripts/app/grid.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.jqGrid.min.js"></script>
    <script src="~/Scripts/grid.locale-en.js"></script>

    <script src="~/Scripts/function/global/global.js"></script>
    <script src="~/Scripts/app/grid.js"></script>
    <script src="~/Scripts/app/prompt.js"></script>
    <script src="~/Scripts/function/basicsalary.js"></script>
    <script src="~/Scripts/function/appraisalincrement.js"></script>
    <script src="~/Scripts/function/automaticCalculation.js"></script>
    @*<script src="~/Scripts/function/ConfirmationUpdate.js"></script>
    <script src="~/Scripts/function/ConfirmationAndCorrectionDetail.js"></script>*@
    <script src="~/Scripts/function/basicSalaryPromotionIncrement.js"></script>
    <script src="~/Scripts/function/home.js"></script>
    
    
</head>
<body class="skin-blue sidebar-mini">
    <div class="wrapper">
        <header class="main-header">
            <a href="index2.html" class="logo">
                <span class="logo-mini"><b>KN</b>SS</span>
                <span class="logo-lg"><b>KN</b>SS</span>
            </a>
            <nav class="navbar navbar-static-top" role="navigation">
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle fa fa-user" data-toggle="dropdown">
                            </a>
                            <ul class="dropdown-menu">
                                <li class="user-header">
                                    <img src="dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                                    <p>
                                        Chandra - Web Developer
                                        <small>Member since Nov. 2012</small>
                                    </p>
                                </li>
                                <li class="user-body">
                                    <div class="row">
                                        <div class="col-xs-4 text-center">
                                            <a href="#">Followers</a>
                                        </div>
                                        <div class="col-xs-4 text-center">
                                            <a href="#">Sales</a>
                                        </div>
                                        <div class="col-xs-4 text-center">
                                            <a href="#">Friends</a>
                                        </div>
                                    </div>
                                </li>
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="#" class="btn btn-default btn-flat">Profile</a>
                                    </div>
                                    <div class="pull-right">
                                        <a href="#" class="btn btn-default btn-flat">Sign out</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <aside class="main-sidebar">
            <section class="sidebar">
                <form action="#" method="get" class="sidebar-form">
                    <div class="input-group">
                        <input type="text" name="q" class="form-control" placeholder="Search...">
                        <span class="input-group-btn">
                            <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </form>
                <ul class="sidebar-menu">
                    <li><a href="~/AutomaticCalculation/Index"><span>1.1.1 Score Unit and <br />Distribution Setting</span></a></li>
                    <li><a href="~/AssesmentCorrection/Index"><span>1.2.2 Revise Assessment <br />Result</span></a></li>
                    <li><a href="~/ConfirmationAndCorrection/Index"><span>1.2.3 Revise Assessment <br />Result</span></a></li>
                    <li><a href="~/AppraisalIncrement/Index"><span>3.1.2 Update Appraisal <br />Increment</span></a></li>
                    <li><a href="~/BasicSalary/Index"><span>3.1.3 Update Basic Salary <br />Table</span></a></li>
                    <li><a href="~/PromotionIncrementBasicSalary/Index"><span>3.1.4 Show Basic Salary <br />Table</span></a></li>
                </ul>
            </section>
        </aside>
        <div class="content-wrapper">
            @RenderBody()
        </div>
        @*ALL GLOBAL MODAL*@
        <div class="modal" id="dlgPrompt">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" id="btnCancelPromptTop" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h5 class="modal-title" id="divTitlePrompt"></h5>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" id="txtPromptHidden" />
                        <input type="hidden" id="txtPromptId" />
                        <input type="hidden" id="txtPromptName" />
                        <div id="lblStatusPrompt"></div>
                        <div class="box-body table-responsive no-padding">
                            @*<div id="layoutGrdPrompt"></div>*@
                            <table id="layoutGrdPrompt"><tr><td></td></tr></table>
                            <div id="layoutGrdProductPgr"></div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="button" id="btnCancelPrompt" class="btn btn-default btn-flat" data-dismiss="modal" value="Cancel" />
                        <input type="button" id="btnInsertPrompt" class="btn btn-default btn-flat" value="Insert" />
                    </div>
                </div>
            </div>
        </div>
        @*END - ALL GLOBAL MODAL*@

        <footer class="main-footer">
            <small>&copy; DC 2016</small>
        </footer>
        <aside class="control-sidebar control-sidebar-dark">
            <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
                <li class="active"><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
                <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
            </ul>
            <div class="tab-content">
                <!-- Home tab content -->
                <div class="tab-pane active" id="control-sidebar-home-tab">
                    <h3 class="control-sidebar-heading">Recent Activity</h3>
                    <ul class="control-sidebar-menu">
                        <li>
                            <a href="javascript::;">
                                <i class="menu-icon fa fa-birthday-cake bg-red"></i>
                                <div class="menu-info">
                                    <h4 class="control-sidebar-subheading">Langdon's Birthday</h4>
                                    <p>Will be 23 on April 24th</p>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <!-- /.control-sidebar-menu -->
                    <h3 class="control-sidebar-heading">Tasks Progress</h3>
                    <ul class="control-sidebar-menu">
                        <li>
                            <a href="javascript::;">
                                <h4 class="control-sidebar-subheading">
                                    Custom Template Design
                                    <span class="pull-right-container">
                                        <span class="label label-danger pull-right">70%</span>
                                    </span>
                                </h4>
                                <div class="progress progress-xxs">
                                    <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <!-- /.control-sidebar-menu -->
                </div>
                <!-- /.tab-pane -->
                <!-- Stats tab content -->
                <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div>
                <!-- /.tab-pane -->
                <!-- Settings tab content -->
                <div class="tab-pane" id="control-sidebar-settings-tab">
                    <form method="post">
                        <h3 class="control-sidebar-heading">General Settings</h3>
                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Report panel usage
                                <input type="checkbox" class="pull-right" checked>
                            </label>
                            <p>
                                Some information about this general settings option
                            </p>
                        </div>
                        <!-- /.form-group -->
                    </form>
                </div>
                <!-- /.tab-pane -->
            </div>
        </aside>
        <div class="control-sidebar-bg"></div>


    </div>
</body>
</html>