<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="KNSSEntities" connectionString="metadata=res://*/KNSSModel.csdl|res://*/KNSSModel.ssdl|res://*/KNSSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.10.10.9\SQLSERVER2012;initial catalog=KNSS;user id=sa;password=c0b4#s1n1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="KNSSWeb" connectionString="server=10.10.10.9\SQLSERVER2012;user id=sa; password=c0b4#s1n1; database=KNSS;"/>
  </connectionStrings>
  <!--<connectionStrings>
    <add name="KNSSEntities" connectionString="metadata=res://*/KNSSModel.csdl|res://*/KNSSModel.ssdl|res://*/KNSSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.10.10.9\SQLSERVER2012;initial catalog=KNSS;user id=sa;password=c0b4#s1n1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="KNSSWeb" connectionString="server=10.10.10.9\SQLSERVER2012;user id=sa; password=c0b4#s1n1; database=KNSS;"/>
    <add name="KNSSWeb" connectionString="Data Source=SSS-NB16072\SQLSERVER2014;Initial Catalog=KNSS;Integrated Security=True;" providerName="System.Data.SqlClient" />
    <add name="KNSSEntities" connectionString="metadata=res://*/KNSSModel.csdl|res://*/KNSSModel.ssdl|res://*/KNSSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SSS-NB16072\SQLSERVER2014;initial catalog=KNSS;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>-->
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>